<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>A <span>dentistry clinic</span> you can trust</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit velit, sapien habitant integer senectus malesuada
                ac.</p>
            <div class="header__btns">
                <button class="btn">Book Appointments</button>
                <a href="#">

                    Browse Services
                </a>
            </div>
        </div>
        <div class="hero-image mx-5 ">
            <img src="https://img.freepik.com/free-photo/crazy-otorhinolaryngologist-with-his-otoscope-white-background_1368-5861.jpg?t=st=1740029122~exp=1740032722~hmac=399fefc5fce1268b4b79b68fc62e52f4a2b0e1104a46629e656f89e969209922&w=740"
                alt="Dental Chair">
        </div>
    </div>
</section>

<section class="info ">
    <div class="container ">
        <div class="info-box ">
            <img src="https://cdn-icons-png.freepik.com/256/3960/3960335.png?ga=GA1.1.1284793590.1724147592&semt=ais_hybrid"
                alt="Contact Icon">
            <h2>Contact Me</h2>
            <p>(870) 870-2104</p>
            <p>contactdentist.com</p>

        </div>
        <div class="info-box">
            <img src="https://cdn-icons-png.freepik.com/256/6524/6524976.png?ga=GA1.1.1284793590.1724147592&semt=ais_hybrid"
                alt="Open Hours Icon">
            <h2>Open Hours</h2>
            <p> <span>Mon-Fri</span>: 8:00 AM to 5:00 PM</p>
            <p> <span>Saturday</span>: 9:00 AM to 3:30 PM</p>
            <p><span>Sunday</span>: 9:00 AM to 3:30 PM</p>
        </div>
        <div class="info-box">
            <img src="https://cdn-icons-png.freepik.com/256/12104/12104407.png?ga=GA1.1.1284793590.1724147592&semt=ais_hybrid"
                alt="Services Icon"> <!-- Add the correct image source here -->
            <h2>Services</h2>
            <p>Cosmetic Dentist</p>
            <p>Dental Implants</p>
            <p>Teeth Whitening</p>
        </div>
    </div>
</section>



<section class="steps" id="about">
    <div class="section__container steps__container ">
        <h2 class="section__header">
            We Are Dentist, <span>a Dental Clinic You Can Trust</span>
        </h2>


    </div>

    <div class="containers">
        <div class="row">
            <div class="col-6">


                <h1>
                    A <span>Trusted Dental Clinic</span> of Excellence - Rely on Our Expertise in Oral Care
                </h1>
                <p>
               
                </p>
                <p>
                    
                </p>
                <ul class="features">
                    <li>✔️ State Of The Art Equipment</li>
                    <li>✔️ Expert Team</li>
                    <li>✔️ World Class Dental Care</li>
                    <li>✔️ Easy Online Appointment</li>
                    <li>✔️ Painless Dental Procedures</li>
                    <li>✔️ Stringent Sterilization & Disinfection Protocols</li>
                </ul>
            </div>

            <div class=" col-6 row-image">
                <img src="https://img.freepik.com/free-photo/empty-stomatology-orthodontist-bright-office-room-with-nobody-it_482257-15349.jpg?ga=GA1.1.1284793590.1724147592&semt=ais_hybrid"
                    alt="about image">
                <br>
                <p class="mt-2">Invisalign & Orthodontic Braces Specialist</p>
            </div>

        </div>
    </div>

</section>